body{
    height: 100vh;
    width: 100%;
}
#row1{
    margin-left: 10%;
    font-size: 150%;
}
.row2{
    font-size: 100%;
    margin-left: 10%;
    font-weight: normal;
}
#img1{
    margin-left: 70%;
    height: 400px;
    width: 500px;
    margin-top: -25%;

}
.b1{
    height: 40px;
    width: 300px;
    margin-left: 5%;
    margin-top: 5%;
}
.b2{
    height: 40px;
    width: 300px;
    margin-top: 5%;
    margin-left: 5%;
}
.log{
    height: 40px;
    width: 300px;
    margin-left: 5%;
    margin-top: 5%;
    color: white;
    background-color: blue

}